/dist/XMLEngine.war
build/web/WEB-INF/classes/.netbeans_update_resources
build/web/WEB-INF/classes/.netbeans_automatic_build
*.class
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml
